In [1]:
import pandas as pd
import pyodbc

In [2]:
conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=BASBOSA;"
    "Database=book;"
    "Trusted_Connection=yes;"
    
)

 1. Top 10 least expensive books

In [ ]:
query1 = """
SELECT TOP 10 BookTitle, Price
FROM dbo.Books_Final
ORDER BY Price ASC;
"""
top10_cheapest = pd.read_sql(query1, conn)
print (top10_cheapest)

                                           BookTitle  Price
0                         An Abundance of Katherines  10.00
1                              The Origin of Species  10.01
2  The Tipping Point: How Little Things Can Make ...  10.02
3                                           Patience  10.16
4                               Greek Mythic History  10.23
5  The Fellowship of the Ring (The Lord of the Ri...  10.27
6                                  History of Beauty  10.29
7  The Lucifer Effect: Understanding How Good Peo...  10.40
8  NaNo What Now? Finding your editing process, r...  10.41
9                                       Pet Sematary  10.56

C:\Users\ELGOHARY\AppData\Local\Temp\ipykernel_5532\974381472.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  top10_cheapest = pd.read_sql(query1, conn)

2. Average price of the available books only

In [9]:
query2 = """
SELECT Category, AVG(Price) AS AvgAvailablePrice
FROM dbo.Books_Final
WHERE Availability = 1
GROUP BY Category
ORDER BY AvgAvailablePrice DESC;
    """
Avg_Price = pd.read_sql(query2, conn)
print (Avg_Price)

              Category  AvgAvailablePrice
0             Suspense          58.330000
1               Novels          54.810000
2             Politics          53.613333
3               Health          51.452500
4            New Adult          46.383333
5            Christian          42.496667
6     Sports and Games          41.166000
7            Self Help          40.620000
8               Travel          39.794545
9              Fantasy          39.593958
10                 Art          38.520000
11           Parenting          37.350000
12             History          37.295000
13       Autobiography          37.053333
14      Womens Fiction          36.791176
15            Cultural          36.580000
16            Classics          36.545263
17        Contemporary          36.200000
18             Fiction          36.066615
19              Poetry          35.974211
20              Horror          35.949412
21       Short Stories          35.880000
22       Add a comment          35.796418
23               Music          35.636923
24         Young Adult          35.449074
25        Spirituality          35.098333
26      Sequential Art          34.572267
27             Default          34.392697
28   Christian Fiction          34.385000
29          Nonfiction          34.260182
30          Psychology          34.218571
31             Romance          33.933714
32     Science Fiction          33.802500
33           Biography          33.662000
34  Historical Fiction          33.644231
35          Philosophy          33.558182
36               Humor          33.501000
37             Science          33.088571
38           Childrens          32.638276
39            Religion          32.567143
40            Business          32.460000
41             Mystery          31.719062
42            Thriller          31.433636
43      Food and Drink          31.414667
44          Historical          22.830000
45             Erotica          19.190000
46          Paranormal          15.400000
47       Adult Fiction          15.360000
48            Academic          13.120000

C:\Users\ELGOHARY\AppData\Local\Temp\ipykernel_5532\1843353049.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Avg_Price = pd.read_sql(query2, conn)

3. Books More Expensive than the Overall Average Price

In [11]:
query3 = """
SELECT BookTitle, Category, Price
FROM dbo.Books_Final
WHERE Price > (SELECT AVG(Price) FROM dbo.Books_Final)
ORDER BY Price DESC;
"""
Expensive_books = pd.read_sql(query3, conn)
print (Expensive_books)

                                             BookTitle        Category  Price
0                   The Perfect Play (Play by Play #1)         Romance  59.99
1                    Last One Home (New Beginnings #1)         Fiction  59.98
2                     Civilization and Its Discontents      Psychology  59.95
3                       The Barefoot Contessa Cookbook  Food and Drink  59.92
4                            The Diary of a Young Girl      Nonfiction  59.90
..                                                 ...             ...    ...
508                  Doing It Over (Most Likely To #1)         Romance  35.61
509  So Cute It Hurts!!, Vol. 6 (So Cute It Hurts!!...  Sequential Art  35.43
510                                    The Darkest Lie     Young Adult  35.35
511                        Breaking Dawn (Twilight #4)         Default  35.28
512                                        Most Wanted         Mystery  35.28

[513 rows x 3 columns]

C:\Users\ELGOHARY\AppData\Local\Temp\ipykernel_5532\1681066893.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Expensive_books = pd.read_sql(query3, conn)

4.The percentage of available books with rating 4 or higher

In [12]:
query4 = """
SELECT 
    COUNT(*) * 100.0 / (SELECT COUNT(*) FROM dbo.Books_Final WHERE Availability = 1) 
    AS HighRatedAvailablePercentage
FROM dbo.Books_Final
WHERE Availability = 1 AND Rating >= 4;
"""
Books_ratings = pd.read_sql(query4, conn)
print (Books_ratings)

   HighRatedAvailablePercentage
0                     37.537538

C:\Users\ELGOHARY\AppData\Local\Temp\ipykernel_5532\1004470433.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Books_ratings = pd.read_sql(query4, conn)